 <!-- services starts -->
 <div class="container-fluid mymt1-5">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 offset-lg-3 text-center" data-aos="fade-up" data-aos-duration="1700">
          <p class="mytxt-clr lead">Services</p>
        <h1 class="mytxt-clr myhtxtres1 text-center">MEET ALL OF YOUR <br> REQUIREMENTS</h1>
        <p>
            Our customized end to end solutions, meet all of your requirements. We provide a diverse range of services that you can choose from as per your ambitions and career goals.
             Have a look at the services that we provide and then make the wise selection for your future.
        </p>
      </div>
    </div>
</div>

<!-- services ends-->

<!-- fisrt grid starts -->
<div class="container-fluid mymt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 d-block m-auto float-left" data-aos="fade-right" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">EMBEDDED APP DEVELOPMENT</h1>
            <p class="text-justify l-ht">Ignitive Labs is the leading and reputed firm with a goal to provide the cutting edge technologies. Being the core of all the intelligent devices, embedded app development software is the perfect blend of architecture, technology, domain, and the process. We have made up the best practices ever since the venture of the firm. We offer the embedded maps for navigation, robotics, biometrics, and a lot of more niches. Our optimized software delivers the best quality of standards in all the stages of product development. Our advanced technology cuts down the development cycle and enhances the dependability of our software.</p>
        </div>
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 d-block m-auto float-right" data-aos="fade-left" data-aos-duration="1700">
            <div class="card border-0">
               <div class="card-body align-self-lg-end align-self-md-center align-self-sm-center align-self-center">
                <img src="../../assets/images/services/1.png" alt="" class="img-fluid">
               </div>
            </div>
        </div>
    </div>
</div>
<!-- first grid ends -->

<!--second grid starts -->
<div class="container mymt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 col-12 order-md-1 order-sm-2 order-2 d-block m-auto float-left" data-aos="fade-right" data-aos-duration="1700">
            <div class="card border-0">
               <div class="card-body align-self-lg-end align-self-md-center align-self-sm-center align-self-center">
                <img src="../../assets/images/services/2.png" alt="" class="img-fluid">
               </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-12 col-sm-12 col-12 order-md-2 order-sm-1 order-1 d-block m-auto" data-aos="fade-left" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">WEB DESIGN AND DEVELOPMENT</h1>
            <p class="text-justify l-ht">With years of experience, we have been delivering the ideal web design and development solutions. We create customer centric and client focused websites that help the brands the ever changing digital landscape. Thus, our websites deliver tangible results for your business. We help you to enhance your online visibility and improve your online reputation as well. Along with this, we provide comprehensive web solutions like digital marketing, SEO and content writing services, that help in the better promotion of your brand on digital platforms.</p>
        </div>
    </div>
</div>
<!-- second grid ends -->

<!-- third grid starts -->
<div class="container mymt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 d-block m-auto float-left" data-aos="fade-right" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">WEB OPTIMIZATION</h1>
            <p class="text-justify l-ht">The term, web optimization holds a lot of meanings, but it definitely stands for the optimization of the website so that it can deliver the best search engine performance. We provide a holistic approach to web optimization services. We provide customized tailor web optimization services. Our customer centric approach makes sure that your website gets the best and effective services. We use the agile methodology and helps you to get the topmost position always in the search engine results. We improvise your business and make sure that it gets the best ranks always for your business.</p>
            </div>
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 d-block m-auto" data-aos="fade-left" data-aos-duration="1700">
            <div class="card border-0">
               <div class="card-body align-self-lg-end align-self-md-center align-self-sm-center align-self-center">
                <img src="../../assets/images/services/3.png" alt="" class="img-fluid">
               </div>
            </div>
        </div>
    </div>
</div>
<!-- third grid ends -->

<!--fourth grid starts -->
<div class="container mymt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12  col-12 order-md-1 order-sm-2 order-2 d-block m-auto float-left" data-aos="fade-right" data-aos-duration="1700">
            <div class="card border-0">
               <div class="card-body align-self-lg-end align-self-md-center align-self-sm-center align-self-center">
                <img src="../../assets/images/services/4.png" alt="" class="img-fluid">
               </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-12 col-sm-12  order-md-2 order-sm-1 order-1 d-block m-auto" data-aos="fade-left" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">DIGITAL MARKETING</h1>
            <p class="text-justify l-ht">With increasing online platforms, digital marketing has become one of the most powerful for companies. We deliver the best in class and 360 degree approach for digital marketing. With a wide range of services that digital marketing holds, we are skilled in all the services. Be it SEO, website design, or Social media marketing, our experts in all fields make our services the best. We strategize every project and execute to get digital excellency. We have compassionate and enthusiastic marketers who are well versed in handling the digital aspects. The certified professionals deliver the services that are out of the box. We believe in delivering the results and thus, our digital marketing services are ranked at the top.</p>
        </div>
    </div>
</div>
<!-- fourth grid ends -->

<!-- fifth grid starts -->
<div class="container mymt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 d-block m-auto float-left" data-aos="fade-right" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">CONTENT MARKETING</h1>
            <p class="text-justify l-ht">We know the importance of the content, and how this can get in more traffic and trust to you. From the times, content is still the king and encompasses all of the digital marketing strategies. Our qualified and experienced writers make sure that they deliver the target content for you that fulfills your purpose. For your digital marketing needs, we provide the fleshed out and comprehensive content plan. We research, create, and ideate the content that helps you to accomplish your business goals. Expert editors and the talented writing staff helps to develop the string and dedicated approach for the industry. With the set of principles that we follow for the content writing, we let your ideas and thought to prevail all across the world. We are here with the passionate writer team that delivers the best ever content.</p>
        </div>
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 d-block m-auto" data-aos="fade-left" data-aos-duration="1700">
            <div class="card border-0">
               <div class="card-body align-self-lg-end align-self-md-center align-self-sm-center align-self-center">
                <img src="../../assets/images/services/5.jpg" alt="" class="img-fluid">
               </div>
            </div>
        </div>
    </div>
</div>
<!-- fifth grid ends -->

<div class="container mymt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12  col-12 order-md-1 order-sm-2 order-2 d-block m-auto float-left" data-aos="fade-right" data-aos-duration="1700">
            <div class="card border-0">
               <div class="card-body align-self-lg-end align-self-md-center align-self-sm-center align-self-center">
                <img src="../../assets/images/services/6.png" alt="" class="img-fluid">
               </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-12 col-sm-12  order-md-2 order-sm-1 order-1 d-block m-auto" data-aos="fade-left" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">IT AS SERVICE</h1>
            <p class="text-justify l-ht">We help the companies to transfer their IT staff to work faster and in smarter ways. IT as a service is one of the most operational business models. We make sure that we use the right combination of the legacy system and cloud computing along with the external and internal IT. A proper roadmap of IT as Service is what helps your company to begin with the journey of success.

                We provide faster and quicker infrastructure services and provide you with the power of choice. We provide the minimal upfront IT investment for your firm and helps to maintain financial transparency. Thus, helping you to choose the IT as one of the service areas that fulfills your business requirements.</p>
        </div>
    </div>
</div>

<!--sixth grid starts -->

<!-- sixth grid ends -->

<!-- seventh grid starts -->
<div class="container mymt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 d-block m-auto float-left" data-aos="fade-right" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">PCB DESIGN</h1>
            <p class="text-justify l-ht">We are one of the leading and reputed providers of the PCB designs and layout all over the world and have associated with some of the largest industries like telecom, medical and military, etc. With strict quality checks, we ensure that we deliver the well established PCB designs and layout credentials. With us, you get to increase the life of your electrical equipment.

                With the cutting edge and advanced technologies, we help you to meet your requirements. We narrow down on the complicated circuits and provide the services that you can rely on.
                
                 </p>
        </div>
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 d-block m-auto" data-aos="fade-left" data-aos-duration="1700">
            <div class="card border-0">
               <div class="card-body align-self-lg-end align-self-md-center align-self-sm-center align-self-center">
                <img src="../../assets/images/services/7.png" alt="" class="img-fluid">
               </div>
            </div>
        </div>
    </div>
</div>
<!-- seventh grid ends -->

<!--eigth grid starts -->
<div class="container mymt-5">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 col-12 order-md-1 order-sm-2 order-2 d-block m-auto float-left" data-aos="fade-right" data-aos-duration="1700">
            <div class="card border-0">
               <div class="card-body align-self-lg-end align-self-md-center align-self-sm-center align-self-center">
                <img src="../../assets/images/services/8.png" alt="" class="img-fluid float-left">
               </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-12 col-sm-12  order-sm-1 d-block m-auto" data-aos="fade-left" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">IT TRAINING AND SKILL DEVELOPMENT</h1>
            <p class="text-justify l-ht">We work towards the students to get a brighter future for them. With the importance of the skills that hold in the IT industry, we help them to learn them with excellency and get their dream jobs. Our II training services provide them the training for the IT industries. We have a team of professional and highly experienced mentors who have served. The major objective of the training services is to help a larger number of students to get trained about services.</p>
        </div>
    </div>
</div>
<!-- eigth grid ends -->