<!-- 
<a routerLink="/home" color="primary" mat-raised-button>HOME</a>
<a routerLink="/mm" color="primary" mat-flat-button>MM</a>
<a routerLink="cf" color="primary" mat-raised-button>CF</a>
<a routerLink="/icon1" color="primary" mat-stroked-button>Icon1</a>
<a routerLink="/icon2" color="primary" mat-icon-button>Icon2</a>
<a routerLink="" color="primary" mat-fab>click</a>
<a routerLink="" color="primary" mat-mini-fab>click</a>

<hr>
<mat-button-toggle #mbt value="angular">Angular</mat-button-toggle>
<h1>{{mbt.checked}}</h1>

<mat-button-toggle-group #mbtg="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
</mat-button-toggle-group>
<h1>{{mbtg.value}}</h1>


<hr>


<div>
<span matBadge="5">Notifications</span>
</div>

<div>
<span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>

<div>
<span matBadge="5" matBadgeSize="large">Notifications</span>
</div>

<div>
<span matBadge="5" matBadgeOverlap="overlap">Notifications</span>
</div>

<div>
<span matBadge="5" matBadgeColor="warn" [matBadgeHidden]="!myBool">Notifications</span>

</div>


<hr>

<mat-icon>
    folder
</mat-icon>
<mat-icon color="accent">
    av_timer
</mat-icon> -->

<!-- <mat-toolbar color="accent">
    <div>
        <span>OCO</span>
    </div>
    <div>
        <span>About</span>
        <span>Login</span>
        <span>Signup</span>
    </div>
    
</mat-toolbar> -->
