/* You can add global styles to this file, and also import other style files */
body,html
{
    width: 100% !important;
    overflow-x: hidden !important;
    font-family:'Arial', sans-serif;
    margin: 0px;
    padding:0px;
}
.mytxt-clr
{
    color: #003777;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
